body {
  background-color: #91aa9d;
}

header {
  text-align: center;
  width: 80%;
  margin: 0 auto 10px;
  font-size: 5.0vw;
  color: #3e606f;
  background-color: #fcfff5;
}
.container {
  text-align: center;
  width: 80%;
  border: 1px black solid;
  margin: 0 auto 10px;
  background-color: #d1dbbd;
}
.display {
  text-align: center;
  width: 80%;
}
img {
  width: 100%;
  height: auto;
}
#text {
  width:95%;
  margin: 0 auto 3px;
  color: #3e606f;
  font-size: 2.5vw;
}
.display {
  margin: 0 auto 3px;
  font-size: 2.5vw;
}

.crystal{
  width:20%;
  height:20%;
    margin:5px;
}
